<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Calculate Average Marks</h1>
    <form action="{{ url_for('form') }}" method="post">
        <input type="text" name="maths" placeholder="Maths" required="required">
        <input type="text" name="science" placeholder="Science" required="required">
        <input type="text" name="history" placeholder="History" required="required">
        <button type="submit">Submit</button>
    </form>

    <br>
    Average Marks: {{ score }}
    <br>
</body>
</html>
